/*  your css code here. If applicable */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	position: relative;
}


#box-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background-color: lightblue;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: purple;
}






